.character-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.character-selection__title {
    font-size: 27px;
    margin-top: 9px; /* Отступ от шапки */
    margin-bottom: 7px;
}

.character-selection__description {
    font-size: 14px;
    color: #555;
    margin-top: 2px;
    margin-bottom: 9px;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Две колонки */
    gap: 20px 32px; /* 36px между строками, 32px между колонками */
    justify-items: center; /* Центрируем картинки по горизонтали */
    /* Центрируем весь блок */
    margin: 10px auto 0;
}

/* Элемент картинки */
.image-grid__item {
    position: relative;
    width: 140px; /* Задаем фиксированную ширину для круга */
    height: 140px; /* Задаем фиксированную высоту для круга */
    border-radius: 50%; /* Делаем картинки круглыми */
    cursor: pointer; /* Указываем, что это кликабельный элемент */
}

/* Стиль для самой картинки */
.image-grid__img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Картинка адаптируется по размеру */
    border-radius: 50%; /* Картинка остается круглой */
}

/* Стиль для выбранной картинки - синий круг */
.image-grid__item.selected::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 5px solid #007AFF; /* Синий круг */
    border-radius: 50%; /* Делаем круг */
    box-sizing: border-box; /* Учитываем границы внутри размера */
}

.image-grid__item:focus {
    outline: none; /* Убираем обводку при фокусе */
}

.image-grid__item.disabled {
    pointer-events: none; /* Отключить клики */
    opacity: 0.5; /* Сделать элемент серым */
    filter: grayscale(100%); /* Применить серый цвет (необязательно) */
    cursor: not-allowed; /* Изменить курсор на "запрещено" */
}